<div class="login-panel-parent">
    <div class="login-panel">
        <h1 class="text-center">Ojas Udyog</h1>
        <form action="/login" method="post">
            <p class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user-secret"
                       aria-hidden="true"></i>
                </span> <input type="text" class="form-control input-lg" name="username" placeholder="Username or Email"
                />
            </p>
            <p class="input-group">
                <span class="input-group-addon" style="padding-right: 15px;">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span> <input type="text" class="form-control input-lg" name="password" placeholder="Password"
                />
            </p>
            <div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success pull-right">Login</button>
                </div>
                <div class="pull-left">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="rememberMe"
                                   name="rememberMe" />Keep me logged in
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
        <br />
        <p class="text-center">
            Don't have an account? <a>Register now</a>
        </p>
        <p class="text-center">
            Don't Remember Password? <a>Password reset</a>
        </p>
        <div class="about-css">About Css
            <div class="about">About SASS</div>
        </div>
        <div class="home-css">Home Css
            <div class="home">Home SASS sssss12345</div>
        </div>
        <div class="common-css">Common Css border: 1px solid red;
            <div class="common">Common</div>
        </div>
    </div>