<navigation></navigation>
<!-- Begin page content -->
<div class="main-container">
    <notification></notification>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<footer>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="title">Section</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Section</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Section</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Disclaimers</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <hr class="bg-white" />
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <p>
                        <small>Copyright &copy; 2014 All Rights Reserved</small>
                    </p>
                    <p>
                        <small>Built with
                            <i class="fa fa-heart" style="color:red"></i> from INDIA</small>
                    </p>
                </div>
                <div class="footer-social col-sm-6 col-md-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" class="fb">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 social-logo-container">
                                            <span class="fa fa-facebook fa-2x social-icon"></span>
                                        </div>
                                        <div class="col-sm-9 col-md-9 social-info-container">
                                            <span class="info">
                                                <span class="follow">
                                                    Join us on Facebook
                                                </span>
                                                <br/>
                                                <span class="num">
                                                    9,999
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="fb">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 social-logo-container">
                                            <span class="fa fa-github fa-2x social-icon"></span>
                                        </div>
                                        <div class="col-sm-9 col-md-9 social-info-container">
                                            <span class="info">
                                                <span class="follow">
                                                    Become a GitHub fan
                                                </span>
                                                <br/>
                                                <span class="num">
                                                    9,999
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="fb">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 social-logo-container">
                                            <span class="fa fa-google-plus fa-2x social-icon"></span>
                                        </div>
                                        <div class="col-sm-9 col-md-9 social-info-container">
                                            <span class="info">
                                                <span class="follow">
                                                    Google+ with us
                                                </span>
                                                <br/>
                                                <span class="num">
                                                    9,999
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>