.notification-container {
    text-align: center;
    padding: 20px 0;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .alert-msg {
        vertical-align: top;
        margin-left: 10px;
    }
    .alert-icon {
        margin: 0 15px;
    }
    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999999999;
        padding: 0px 8px;
        button.close {
            cursor: pointer;
        }
    }
}